// Variables
// COLORS
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$Grey: hsl(0, 0%, 85%);

// TYPOGRAPHY
$FontSize: 1.06rem;
$Alta: "Alta";
$JosefinSans: "Josefin Sans";

// Layout
$Breakpoint: 37rem;
// -------------------------------------------------------//

// Layout
body {
    display: grid;
    width: 100%;
    min-height: 100vh;
    font-size: $FontSize;
}

// HEADER
.header {
    display: grid;
    background: url("/images/mobile/image-hero.jpg");


    @media (min-width: $Breakpoint) {
        background: url("/images/desktop/image-hero.jpg");

    }
}


// Navigation
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    padding-block: 0.5rem;

}

.header__icon__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;

    .header__menu__icon {
        @media (min-width: $Breakpoint) {
            display: none;
        }
    }

    .header__menu__icon--opened {
        display: none;
    }
}


.header__nav {
    display: flex;
    column-gap: 1rem;
    background-color: transparent;

    @media (max-width: $Breakpoint) {
        display: none;
    }

    .nav__list {
        list-style: none;

        @media (min-width: $Breakpoint) {
            display: flex;
            column-gap: 0.5rem;
        }

    }

    .nav__link {
        text-decoration: none;
        color: $White;
        font-weight: 400;

        &:hover {
            border-bottom: 0.1rem solid $White;
        }
    }
}

// When ham menu is opened
.header__top--open {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $Black;

    .header__nav {
        width: 100%;
        height: 100vh;
        display: grid;
        gap: 1rem;

    }

    .header__menu__icon--opened {
        display: block;
    }

    .header__menu__icon--closed {
        display: none;
    }
}

.header__nav {
    display: none;

    @media (min-width: $Breakpoint) {
        display: flex;
        column-gap: 1rem;
        background-color: transparent;

    }

    .nav__list {
        list-style: none;

        @media (min-width: $Breakpoint) {
            display: flex;
            column-gap: 1rem;
        }

    }

    .nav__link {
        text-decoration: none;
        color: $White;
        font-weight: 400;

        &:hover {
            border-bottom: 0.1rem solid $White;
        }
    }
}

// HERO
